<div class="container">
  <div class="card shadow mb-4">
    <div class="card-header">
      <app-update-albums [album]="updatedAlb" (albumUpdated)="albumUpdated($event)"  [ajout]="ajout"></app-update-albums>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Album</th>
            <th>Proprietaire Album</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of albums">
            <td>{{ cat.idAlbum }}</td>
            <td>{{ cat.titreAlbum }}</td>
              <td>{{ cat.proprietaireAlbum }}</td>
              <td><a class="btn btn-success" (click)="updateAlb(cat)">Editer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
