<form>
  <div [hidden]="ajout" class="form-group">
    <label for="idAlbum">ID Album</label>
    <input
      type="text"
        readonly
      id="idAlbum"
      [(ngModel)]="album.idAlbum"
      name="idAlbum"
      class="form-control w-25"
    />
  </div>

  <div class="form-group mt-3">
    <label for="titreAlbum">Titre Album</label>
    <input
      type="text"
      id="titreAlbum"
      [(ngModel)]="album.titreAlbum"
      name="titreAlbum"
      class="form-control"
      placeholder="Entrez un nom de Album..."
    />
  </div>
 <div class="form-group mt-3">
    <label for="titreAlbum">Proprietaire Album</label>
    <input
      type="text"
    
      id="proprietaireAlbum"
      [(ngModel)]="album.proprietaireAlbum"
      name="ProprietaireAlbum"
      class="form-control"
      placeholder="Entrez le proprietaire du Album..."
    />
  </div>

  <div class="form-group mt-3">
    <button
      type="submit"
      [disabled]="!album.titreAlbum"
      class="btn btn-success"
      (click)="saveAlbum()" >
      {{ajout ? 'Ajouter' : 'Modifier'}}
    </button>
  </div>
</form>
