<div class="container">
  <div>
    <h2>Ajouter une Chanson :</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Chanson</label>
      <input type="text" [(ngModel)]="newChanson.idChanson" name="idChanson" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Titre Chanson</label>
      <input type="text" [(ngModel)]="newChanson.titreChanson" name="titreChanson" class="form-control">
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Durée Chanson</label>
      <input type="number" [(ngModel)]="newChanson.dureeChanson" name="dureeChanson" class="form-control">
    </div>

 <div class="col-sm-4 col-md-4 col-lg-4">
            <label>album</label>
            <select class="form-control form-control-lg" id="idAlbum" name="idAlbum" [(ngModel)]="newIdAlbum">
                <option *ngFor="let cat of albums" [value]="cat.idAlbum">
                    {{cat.titreAlbum}}
                </option>
            </select>
        </div> 
     <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)"
            name="logo" class="form-control">
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
        </div>
            
    <div class="mt-2">
      <button type="button" (click)="addChanson()" class="btn btn-success">Ajouter</button>
    </div>
  </form>
</div>
